#panel-slide :not(INPUT):not(TEXTAREA) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* Content styling. */
dl { font-family: "Times New Roman", Times, serif; padding: 1em; }
dt { font-size: 2em; font-weight: bold; }
dt span { font-size: .5em; color: #777; margin-left: .5em; }
dd { font-size: 1.25em;	margin: 1em 0 0; padding-bottom: 1em; border-bottom: 1px solid #eee; }

.back-btn { float: right; margin: 0 2em 1em 0; }

.ui-content {
    border-width: 0;
    overflow: visible;
    overflow-x: visible;
    overflow-x: hidden;
    padding: 0em;
}

/* Listview with collapsible list items. */
.ui-listview > li .ui-collapsible-heading {
  margin: 0;
}
.ui-collapsible.ui-li-static {
  padding: 0;
  border: none !important;
}
.ui-collapsible + .ui-collapsible > .ui-collapsible-heading > .ui-btn {
  border-top: none !important;
}
/* Nested list button colors */
.ui-listview .ui-listview .ui-btn {
  background: #fff;
}
.ui-listview .ui-listview .ui-btn:hover {
  background: #f5f5f5;
}
.ui-listview .ui-listview .ui-btn:active {
  background: #f1f1f1;
}

.details-shade, .details-grid {
    min-height: 275px;
}

.details-grid {
    background: url(../images/banner-h.jpg) no-repeat 0px 0px;
    background-size: auto auto;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
}

.details-shade, .details-grid {
    min-height: 275px;
}
.details-shade {
    padding: 58px 0 0;
    background: rgba(22, 21, 23, 0.6);
}

.details-right {
    margin: 0 auto;
    text-align: center;
}
.details-right h3 {
    color: #fff;
    font-size: 22px;
    margin: 12px 0 9px;
    font-weight: 800;
    text-transform: uppercase;
}

.details-right h4 {
    color: #2ad2c9;
    font-size: 16px;
    margin-bottom: 13px;
}

.banner_search {
    border: 0px solid #fff;
    width: 28%;
    margin: 0 auto;
}

}
.banner_search input[type="search"] {
    border: none;
    outline: none;
    padding: 6px 0px 6px 12px;
    font-size: 14px;
    color: #777;
    background: none;
    width: 82%;
    background: #fff;
}

.banner_search form input[type="submit"] {
    background: #020202 url(../images/search.png) no-repeat 17px 8px;
    width: 50px;
    height: 32px;
    border: none;
    margin: 0 0 0 -4px;
    padding: 0;
    border: none;
    outline: none;
}

.banner-bottom {
    text-align: center;
    background: #f7f7f7 !important;
}
.w3agile, .services, .about {
    padding: 3.5em 2em;
    background: #fff;
}

ul, ol, li {
    margin: 0;
    padding: 0;
}

.banner-bottom ul li {
    display: inline-block;
    margin-right: 1em;
}

.banner-bottom ul li a {
    font-size: 1em;
    text-transform: uppercase;
    padding: 0;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 3em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #fff;
    background: #2ad2c9;
}
.hvr-radial-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
    background: #2ad2c9;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.w3agile.banner-bottom ul li i {
    font-size: 2em;
    line-height: 70px;
}

.w3agile.banner-bottom h6 {
    margin-top: 1em;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.1em;
    color: #020202;
}

h3.w3ls-title {
    font-size: 2.5em;
    color: #252627;
    margin-bottom: .2em;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
}


.banner_bottom_left {

    text-align: center;
    margin: 4em 0 3em 0;

}
.banner_bottom_left h3 {
    font-size: 2em;
    color: #212121;
    text-transform: capitalize;
}

.banner_bottom_left p {
    color: #999;
    line-height: 2em;
    margin-bottom: 3em;
}

.wthree_more a {
    padding: 10px 30px;
    border: 1px solid #999;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #999;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    text-align: center;
}
.button--wayra {
    overflow: hidden;
    width: 35%;
    -webkit-transition: border-color 0.3s, color 0.3s;
    transition: border-color 0.3s, color 0.3s;
    transition-timing-function: ease, ease;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    margin: 0 auto;
}

.banner_bottom_right_grid {
    padding-right: 0;
    float: left;
}

.view {
    float: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding: 1em 1em 2em;
    background: #f5f5f5;
    width: 320px;
    height: 320px;
}

.view img {
    display: block;
    position: relative;
}
.view-tenth img {
    filter: alpha(opacity=1);
    opacity: 1;
}
.view-tenth img {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    width: 100%;
}

.view .mask, .view .content {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.view-tenth .mask {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.agile_text_box {
    text-align: center;
    padding: 6em 2em;
    background: rgba(0, 0, 0, 0.66);
}

.agile_text_box i {
    color: #fff;
    font-size: 4em;
}

.agile_text_box h3 {
    font-size: 1.2em;
    color: #2ad2c9;
    line-height: 1.5em;
    margin: 1em 0 .5em;
    text-transform: uppercase;
    font-weight: 800;
}

.agile_text_box p {
    line-height: 1.8em;
    width: 75%;
    margin: 0 auto;
    color: #efecec;
}